* {
    margin: 0;
    padding: 0;
    font-family: "Hind Guntur", sans-serif;
}


/** body **/
body {
    background-color: rgb(80, 133, 133);
    overflow-x: hidden;
}


/** Top border **/
.top-border {
    background-color: rgb(77, 67, 67);
    height: 7vh;
    text-align: center;
    color: rgb(147, 214, 93);
    font-size: 25px;
}


/** Flexbox **/
.fbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 15vw;
    gap: 7px;
}

/** Flexbox styling **/
.boxstyl {
    text-align: center;
    background-color: rgb(235, 210, 179);
    font-size: 13px;
    border-radius: 25px;
    color: rgb(46, 34, 34);
    border: solid 2px rgb(77, 67, 67);
    margin: 10px 0px;
    padding: 10px 5px;
}

/** Long flexbox **/
.boxlong {
    min-height: 300px;
    width: 1424px;
}

/** Small flexbox **/
.boxsmall{
    min-height: 400px;
    width: 400px;
    flex-grow: 1;
}

/** Flexbox bass image **/
#img-bass {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

#bass-box {
    padding: 0;
}


/** Footer **/
.foot {
    height: 5vh;
    background-color: rgb(77, 67, 67);
}