:root {
    /* COLORS */
    --clr-neutral-200: #E9E3E6;
    --clr-neutral-300: #B2B2B2;
    --clr-neutral-900: #0D0C1D;
    --clr-accent-purple: #824C71;
    --clr-accent-purple-light: #d86fb7;
    --clr-accent-blue: #0B4F6C;
    --clr-text-white: #fbfcff;

    /* FONTS */
    --ff-regular: "Hind Guntur", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    /* SIZE MAP */
    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;
    --size-700: 2rem;
    --size-800: 2.5rem;
    --size-900: 3rem;
    --size-1000: 4rem;
    --size-1100: 5rem;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    display: block;
    max-width: 100%;
}

html {
    line-height: 1.5;
}


body {
    font-family: var(--ff-regular);
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-300);
    background-image: url(../Images/asfalt-light-tp-bg.png);
}

.primary-header {
    display: flex;
    justify-content: center;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.nav-header {
    padding-block: 1rem;

}
/* LOGO LINK (MUSIKKINSTRUMENT SIDE) */
.logo-link {
    padding-block: var(--size-400);
    color: var(--clr-neutral-900);
    font-size: var(--fs-700);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--fw-bold);
    text-decoration-color: var(--clr-accent-purple-light);
}

.logo-link:hover {
    color: var(--clr-accent-purple-light);
    text-decoration: none;
}

/* CONTAINER FOR BILDER MED GITAR */
.guitar-imgs__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin-top: 0;
}

.guitar-img__cards {
    position: relative;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    background-image: url(../Images/guitar-img/gray-paper-texture.jpg);

    > img {
        max-height: 50rem;
        margin: auto;
    }
}

.guitar-img__overlay {
    display: grid;
    place-content: center;
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.6);
    font-size: clamp(1rem, 5vw, var(--fs-800));
    font-weight: var(--fw-bold);
    text-shadow: 3px 3px var(--clr-neutral-900);
    opacity: 0;
    transition: .3s ease-in-out;
    cursor: pointer;

    & a {
        color: var(--clr-neutral-200);
        text-decoration: none;
    }
}

.guitar-img__overlay:hover {
    opacity: 1;
}

.intro {
    max-width: 70vw;
    margin-inline: auto;
    text-align: center;
}

.page-title {
    font-size: clamp(var(--fs-600), 6vw, var(--fs-800));
}

.acoustic-section {
    position: relative;
    padding-block: 3rem;
    color: var(--clr-text-white);
}

.acoustic-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 4px dashed var(--clr-neutral-300);
    border-bottom: 4px dashed var(--clr-neutral-300);
    background-color: var(--clr-accent-blue);
    background-image: url(../Images/asfalt-light-tp-bg.png);
    transform: skewY(358deg);
    z-index: -1;
}

.list-slideshow-section {
    display: flex;
    justify-content: space-around;
    margin-block: 2rem;
}

.acoustic-list-wrapper {
    width: fit-content;
    margin-block: auto;
    text-align: left;
}

.acoustic-list {
    margin-left: 1.5rem;
}

/* SLIDESHOW SECTION */
.slideshow-container {
    position: relative;
    max-width: 20rem;
    margin-inline: 2rem;
    border: 2px dashed var(--clr-neutral-900);
    background-image: url(../Images/guitar-img/gray-paper-texture.jpg);
}

.guitar-slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--clr-neutral-900);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #0d0c1d90;
}

.slide-text {
    padding-top: .25rem;
    border-top: 2px dashed var(--clr-neutral-900);
    border-bottom: 2px dashed var(--clr-neutral-900);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
    background-image: url(../Images/guitar-img/gray-paper-texture.jpg);
    text-transform: uppercase;
}

.slide-dots {
    margin-top: .5rem;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #434456;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #000000;
}

/* ELECTRIC GUITAR SEKSJON */
.electric-construction {
    display: flex;
    justify-content: space-around;
    margin-block: 2rem;

    & img {
        max-height: 40rem;
        border: 2px dashed var(--clr-neutral-900);
    }
}

.construction-list-container {
    line-height: 1.7;
    text-align: left;


    ol {
        counter-reset: item 
    }
    li {
        display: block
    }
    li:before {
        content: counters(item, ".") " ";
        counter-increment: item; 
        margin-right: 1rem;
    }
    
    .indent {
        margin-left: 1rem;
    }
}


.hollowbody-section {
    position: relative;
    padding-block: 3rem;
    color: var(--clr-text-white);
}

.hollowbody-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 4px dashed var(--clr-neutral-300);
    border-bottom: 4px dashed var(--clr-neutral-300);
    background-color: var(--clr-accent-purple);
    background-image: url(../Images/asfalt-light-tp-bg.png);
    transform: skewY(2deg);
    z-index: -1;
}

.primary-footer {
    display: grid;
    place-content: center;
    min-height: 5rem;
    border-top: 3px dashed var(--clr-neutral-300);
    background-color: var(--clr-neutral-900);
}


/* UTILITY CLASS */

.border-side {
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

.flow > * + * {
    margin-block: var(--flow-space, 1rem);
}

.bold {
    font-weight: var(--fw-bold);
}